*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    color: #000000;
}

.container{
    width: 1140px;
    margin: auto;
}

/* header area css */
#header{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-header{
    width: 100%;
}

.header-content{
    text-align: right;
    padding-top: 160px;
    padding-bottom: 160px;
}

.header-title{
    width: 525px;;
    display: flex;
    text-align: right;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    padding-bottom: 20px;
}

.header-description{
    color: #444343;
    width: 494px;
    line-height: 26px;
    margin-left: auto;
    margin-bottom: 32px;
}

.orange-btn{
    padding: 20px 25px;
    font-size: 20px;
    color: #fff;
    background-color: #F15B22;
    border: 1px solid #F15B22;
    border-radius: 5px;
    transition: 0.3;
    cursor: pointer;
}

.orange-btn:hover{
    color: #F15B22;
    background-color: #fff;
    border: 1px solid #F15B22;
}

/* favorate year styles */
#favorate-year{
    width: 100vw;
}

.inner-favo-year{
    display: flex;
    gap: 105px;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
}

.favo-year-image{
    width: 450px;
}

.favo-year-content{
    max-width: 416px;
}

.favo-year-description{
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}

.favo-year-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.favo-year-content ul li{
    list-style: none;
    margin-bottom: 10px;
}

.favo-year-content li img{
    width: 20px;
    margin-right: 15px;
}

/* plan area style */
#plan{
    width: 100vw;
    margin: 100px 0 120px;
}

.plan-title{
    font-size: 40px;
    color: #151414;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.inner-plans{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.plan-items{
    text-align: center;

}

.plan-name{
    font-size: 30px;
    font-weight: 700;
    color:#151414;
    margin: 10px 0px;
}

.plan-want{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* minset asea styles */

.mindset-area{
    background: url('../images/gradient2.png'), url('../images/watch.png');
    width: 100%;
    height: 300px;
    margin-top: 100px;
    padding: 60px;
}

.mindset-content h3{
    width: 459px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.white-btn{
    padding: 20px 35px;
    font-size: 20px;
    color: #F15B22;
    background-color: #fff;
    border: 1px solid #F15B22;
    border-radius: 5px;

}

.white-btn:hover{
    background-color: #F15B22;
    border: 1px solid #fff;
}

.white-btn:hover a{
    color: #fff;
}

.white-btn a{
    color: #F15B22;
    text-decoration: none;
}

/* footer area style */
#footer{
    width: 100vw;
    background-color: #000000;
    
}

.inner-footer{
    display: flex;
    gap: 330px;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px;
}

.footer-columns{
    width: 50%;
}

.footer-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
}

.footer-description{
    width: 485px;
    line-height: 1.5;
    color: #fff;
}

.social-link img{
    margin-right: 10px;
}

.footer-sub-title{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer-columns input{
    padding: 20px;
    background-color: #000000;
    border: 1px solid #ffff;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
}

.footer-columns input[type="submit"]{
    background-color: #F15B22;
    font-size: 18px;
    border: 1px solid #F15B22;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.footer-columns input[type="submit"]:hover{
    background-color: #ffffff;
    font-size: 18px;
    color: #F15B22;
    border: 1px solid #F15B22;
}