*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1140px;
    margin: auto;
}

/* header area css */
#header{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-header{
    width: 100%;
}

.header-content{
    text-align: right;
    padding-top: 210px;
    padding-bottom: 160px;
}

.header-title{
    width: 525px;;
    display: flex;
    text-align: right;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    padding-bottom: 20px;
}

.header-description{
    color: #444343;
    width: 494px;
    line-height: 26px;
    margin-left: auto;
    margin-bottom: 32px;
}

.orange-btn{
    padding: 20px 25px;
    font-size: 20px;
    color: #fff;
    background-color: #F15B22;
    border: 1px solid #F15B22;
    border-radius: 5px;
    transition: 0.3;
}

.orange-btn:hover{
    color: #F15B22;
    background-color: #fff;
    border: 1px solid #F15B22;
}